*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url(scpo-banner1.gif);
    background-size: cover;
}

.heading{
    top: 15%;
    left: 65%;
    position: absolute;
    outline: none;
} 

.form{
    width: 780px;
    height: 400px;
    background: rgba(0, 0, 0, 0.74);
    color: #fff;
    top: 47%;
    left: 30%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border-radius: 22px;
    outline: none;
}

.form input[type="text"], input[type="email"], input[type="password"], input[type="number"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder{
    color: #ffffff;
}

.butt input[type="submit"]
{
        border-radius: 20px;
        border: 1px solid #0c489a;
        background: #0c489a;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        position: absolute;
        top: 85%;
        left: 23%;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
}



.butt input[type="submit"]:active {
    transform:scale(0.95);
}

.butt input[type="submit"]:focus {
   outline: none;
}
.butt input[type="submit"]:hover{
    background-color: #174ea5;
    border-color: darkcyan; 
}



.gen{
    background: transparent;
    color: #d0aeae;
    height: 35px;
    width: 89px;
    left: 68%;
    top: 20%;
    position: absolute;
    border-radius: 4px;
    outline: none;
    
}

.photo{
    left: 310px;
    top: 409px;
    position: absolute;
    border-radius: 20px;
    outline: none;
    
}

.Degr{
    font-size: 20;
    position: absolute;
    top: 85.5%;
    left: 3%;
}


.deg{
     background: transparent;
    color: #d0aeae;
    height: 35px;
    width: 100px;
    left: 12%;
    top: 85%;
    position: absolute;
    border-radius: 4px;
    outline: none;
}

.Des{
     font-size: 20;
    position: absolute;
    top: 85.5%;
    left: 30%;
}

.desig{
     background: transparent;
    color: #d0aeae;
    height: 35px;
    width: 100px;
    left: 45%;
    top: 85%;
    position: absolute;
    border-radius: 4px;
    outline: none;
}

.Dep{
     font-size: 20;
    position: absolute;
    top: 85.5%;
    left: 64%;
}

.dept{
     background: transparent;
    color: #d0aeae;
    height: 35px;
    width: 100px;
    left: 79%;
    top: 85%;
    position: absolute;
    border-radius: 4px;
    outline: none;
}

.logo{
    height: 70px;
    width: 100px;
    top: 1.5%;
    left: 1%;
    position: absolute;
}
